<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brand</title>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>

<div id="app">
<!--    搜索表单-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">
        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
<!--    表单 对话框-->
    <el-dialog
            :title="title"
            :visible.sync="dialogVisible"
            @close="closeDialog"
            width="30%">
        <el-form ref="form" :model="brand" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>
<!--            通过v-bind 绑定active，使得初始switch的开始状态和绑定的数据一致 v-model要放在active之后，否则组件返回的值为空-->
            <el-form-item label="状态">
                <el-switch :active-value="1" :inactive-value="0" v-model="brand.status"></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--    新增 批量删除-->
    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="addBrand">新增</el-button>
    </el-row>
<!--    表格-->
    <el-table
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange">
        <el-table-column
            type="selection"
            width="55">
        </el-table-column>
        <el-table-column
                type="index"
                width="50">
        </el-table-column>
        <el-table-column
                prop="brandName"
                label="品牌名称"
                align="center">
        </el-table-column>
        <el-table-column
                prop="companyName"
                label="企业名称"
                align="center">
        </el-table-column>
        <el-table-column
                prop="ordered"
                label="排序"
                align="center">
        </el-table-column>
        <el-table-column
                prop="statusStr"
                label="当前状态"
                align="center">
        </el-table-column>
        <el-table-column
                label="操作"
                align="center">
            <el-row slot-scope="scope">
                <el-button type="primary" @click="updateBrand(scope.row)">修改</el-button>
                <el-button type="danger" @click="deleteBrand(scope.row)">删除</el-button>
            </el-row>
        </el-table-column>
    </el-table>
<!--    分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20, 30, 40]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib//theme-chalk/index.css">
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                //表单标题
                title:"",
                //表格数据
                tableData: [],
                //品牌表单数据（新增,修改）
                brand: {
                    id: '',
                    companyName: '',
                    brandName: '',
                    ordered: '',
                    description:'',
                    status: '0'
                },
                //对话框是否展示的标记
                dialogVisible: false,
                //复选框选择的对象数据
                multipleSelection: [],
                //被选中的id
                selectedIds:[],
                //当前页数
                currentPage: 1,
                //单页数据条数
                pageSize: 10,
                //数据总条数
                totalCount:''

            }
        },
        mounted(){
            //当页面加载完成后，发送异步请求，获取数据
            // this.selectAll();
            this.selectByPage();
        },
        methods: {
            closeDialog(){
                // console.log("close");
                //关闭对话框时，清空表单
                this.brand = this.$options.data().brand;
            },
            //查询所有数据的方法
            selectAll(){
                let _this = this;
                axios({
                    method : "get",
                    url:"http://localhost:8080/Element/brand/selectAll"
                }).then(function(resp){
                    _this.tableData = resp.data;
                })
            },
            //查询分页数据的方法
            selectByPage(){
                let _this = this;
                axios({
                    method : "get",
                    url:"http://localhost:8080/Element/brand/selectByPage?currentPage=" + _this.currentPage + "&pageSize=" + _this.pageSize
                }).then(function(resp){
                    _this.tableData = resp.data.rows;
                    _this.totalCount = resp.data.totalCount;
                })
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex%4 === 1) {
                    return 'warning-row';
                } else if (rowIndex%4 === 3) {
                    return 'success-row';
                }
                return '';
            },
            //获取复选框选择的对象
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //批量删除
            deleteByIds(){
                this.$confirm('此操作将永久删除这些数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //获取multipleSelection数组对象中获取相应的id
                    for(let i = 0; i < this.multipleSelection.length; i++){
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }

                    //发送批量删除请求
                    let _this = this;
                    axios({
                        method:"post",
                        url:"http://localhost:8080/Element/brand/deleteByIds",
                        data: _this.selectedIds
                    }).then(function(resp){
                        if(resp.data == "success"){
                            //删除成功
                            //重新查询数据
                            _this.selectByPage();
                            //弹出消息提示
                            _this.$message({
                                message:'恭喜你，删除成功!',
                                type:"success"
                            });
                        }
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });



            },
            //搜索表单提交
            search() {
                // console.log(this.brand);

                // let _this = this;
                // axios({
                //     method: 'post',
                //     url: "http://localhost:8080/Element/brand/selectByPageAndCondition?currentPage=" + _this.currentPage + "&pageSize=" + _this.pageSize,
                //     data: _this.brand
                // }).then(function(resp){
                //     _this.tableData = resp.data.rows;
                //     _this.totalCount = resp.data.totalCount;
                // })

                //由于data在函数内，可以直接用this.brand
                //当.then()内使用箭头函数时，也可以直接使用this
                // let _this = this;
                axios({
                    method: 'post',
                    url: "http://localhost:8080/Element/brand/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.brand
                }).then(resp => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })

            },
            //提交表单
            submitForm(){

                // console.log(this.brand);
                //发送添加数据的请求
                var _this = this;
                if(this.title == "新增"){
                    axios({
                        method :"post",
                        url:"http://localhost:8080/Element/brand/add",
                        data: _this.brand
                    }).then(function(resp){
                        //添加成功
                        if(resp.data == "success"){
                            //刷新查询页面
                            _this.selectByPage();
                            //关闭窗口
                            _this.dialogVisible = false;
                            //弹出消息提示
                            _this.$message({
                                message: '恭喜你，添加成功!',
                                type: 'success'
                            });
                        }
                    })
                }else if(this.title == "修改"){
                    axios({
                        method :"post",
                        url:"http://localhost:8080/Element/brand/update",
                        data: _this.brand
                    }).then(function(resp){
                        //添加成功
                        if(resp.data == "success"){
                            //刷新查询页面
                            _this.selectByPage();
                            //关闭窗口
                            _this.dialogVisible = false;

                            //弹出消息提示
                            _this.$message({
                                message: '恭喜你，修改成功!',
                                type: 'success'
                            });
                        }
                    })
                }

            },
            //新增表单
            addBrand(){
                // console.log(this.brand);
                //关闭对话框时，清空表单
                this.brand = this.$options.data().brand;
                this.title="新增";
                this.dialogVisible = true;
            },
            updateBrand(row){
                //发送修改请求
                this.title="修改";
                // console.log(row);
                //发送请求获得选定的数据
                // let _this = this;
                // axios({
                //     method:"get",
                //     url: "http://localhost:8080/Element/brand/selectById?id=" + row.id
                // }).then(function(resp){
                //     // console.log(resp.data);
                //     // console.log(_this.brand);
                //     //将返回的数据绑定到表单上
                //     _this.brand = resp.data;
                // });
                this.brand.id=row.id;
                this.brand.brandName=row.brandName;
                this.brand.companyName=row.companyName;
                this.brand.ordered=row.ordered;
                this.brand.description=row.description;
                this.brand.status=row.status;

                // console.log(row.status);
                // console.log(this.brand.status);

                //显示
                this.dialogVisible = true;

            },
            deleteBrand(row){
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //发送删除请求
                    // console.log(row);
                    //发送请求获得选定的数据
                    let _this = this;
                    axios({
                        method:"get",
                        url: "http://localhost:8080/Element/brand/deleteById?id=" + row.id
                    }).then(function(resp){
                        if(resp.data == "success"){
                            //刷新查询页面
                            _this.selectByPage();
                            //弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功!',
                                type: 'success'
                            });
                        }
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            //当页数大小改变
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectByPage();
            },
            //当当前页数改变
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectByPage();
            }
        },

    })
</script>

</body>
</html>